.sub.designcustom .admin_menu ul li {
  display:inline-block;
  margin-left:0rem;
  margin-bottom:2rem;
}
.admin_menu ul li+li {
  margin-left:0.5rem;
}
.container.member_list.normal {
  display:block;
}

.container.member_list.normal .list_section * {
  margin:0rem;
  padding:0rem;
  font-size:0rem;
}

.container.member_list.normal .list_section {
  width:100%;
  overflow-x:auto;
  overflow-y:visible;
}
.container.member_list.normal .list_section ul {
  min-width:100rem;
}

.container.member_list.normal .list_section li {
  display:block;
  opacity:0;
  border-bottom: 1px solid #e5e5e5;
}

.container.member_list.normal .list_section.active li {
  opacity:1;
  transition:opacity 0.3s 1.2s;
}

.container.member_list.normal .list_section li > * > * > *,
.container.member_list.normal .list_section li > * > * > * > * > * {
  display:inline-block;
  margin: 0rem;
  padding: 0rem;
  font-size: 1.8rem;
  font-weight: normal;
  color: #303030;
  vertical-align: middle;
}

.container.member_list.normal .list_section li > * > * a {
  margin-left:0rem;
}

.container.member_list.normal .list_section li > * > * a a {
  width:70%;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container.member_list.normal .list_section li > * > * {
  width:65%;
}
.container.member_list.normal .list_section li > * > h3,
.container.member_list.normal .list_section li > * > time > time {
  position:relative;
  font-size: 1.3rem;
  color: #999999;
  float: right;
  top: 2.3rem;
}
.container.member_list.normal .list_section li > * > time > time {
  position:relative;
  font-size: 1.3rem;
  color: #999999;
  float: right;
  top: 2.1rem;
}
.container.member_list.normal .list_section li > * > * {
  display:inline-block;
  padding: 1rem 0rem;
  margin: 0rem;
  vertical-align: middle;
  line-height: 1.4rem;
  font-size: 1.4rem;
  color: #808080;
  width: auto;
  font-weight:normal;
}
.container.member_list.normal .list_section li > * > h3 {
  max-width: 10rem;
}
.container.member_list.normal .list_section ul.titlelist {
  white-space:nowrap;
  font-size: 0rem;
}
.container.member_list.normal .list_section ul.titlelist > li,
.container.member_list.normal .list_section ul.titlelist > li h3 {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: #303030;
  border-top: 1px solid #e5e5e5;
  background: #f9f9f9;
}
.container.member_list.normal .list_section ul.titlelist > li > * { border-top:0rem !important; }
.container.member_list.normal .list_section ul:first-child li,
.container.member_list.normal .list_section ul+ul li > * > *,
.container.member_list.normal .list_section ul.board_list_ul li {
  width:14.2%;
  padding: 1.5rem 0rem;
  text-align:center;
}
.container.member_list.normal .list_section ul.board_list_ul li {
  float:left;
  min-height: 14rem;
}
.container.member_list.normal .list_section ul.board_list_ul li.alone {
  line-height: 14rem;
}
.container.member_list.normal .list_section ul.board_list_ul li.alone input {
  position: relative;
  top: 2rem;
}
.container.member_list.normal .list_section ul.board_list_ul li button {
  line-height: normal;
}
.container.member_list.normal .list_section ul.board_list_ul:after {
  display:block;
  content: "";
  clear:both;
}
.container.member_list.normal .list_section ul:first-child li:last-child,
.container.member_list.normal .list_section ul+ul li > * > *:last-child {
  width:14.8%;
}
.container.member_list.normal .list_section ul:first-child li.long,
.container.member_list.normal .list_section ul.board_list_ul li.long  {
  width:18.5%;
}
.container.member_list.normal .list_section ul:first-child li.long_,
.container.member_list.normal .list_section ul.board_list_ul li.long_  {
  width:19.8%;
}
.container.member_list.normal .list_section li:after {
  display:block;
  content:"";
  float:none;
  clear:both;
}

.container.member_list.normal .list_section li > * > * .reple_icon {
  display: inline-block;
  width: 2rem;
  height: 0.2rem;
  background: #e0e0e0;
  position: relative;
  top: -0.5rem;
  margin-right: 1rem;
}

.container.member_list.normal .list_section li > * > *+* {
  padding-left: 1rem;
}

.container.member_list.normal .list_section li > * > * > input,
.container.member_list.normal .list_section li input,
.container.member_list.normal .list_section li select,
.container.member_list.normal .list_section li option {
  display: block;
  width: 10rem;
  line-height: 3rem;
  max-width: 30rem;
  margin: 0.5rem auto;
  padding: 1rem;
  font-size: 1.4rem;
  border: 1px solid #bfbfbf;
  background: #f9f9f9;
  box-sizing: border-box;
}
.container.member_list.normal .list_section li select { padding: 0rem; }
.container.member_list.normal .list_section li option {
  width:100% !important;
  margin:0rem;
  padding:0rem;
  border-top:0rem;
}


/********* 페이징 및 찾기 ***********/

.container.member_list.normal select {
  margin-right:0.5rem;
  height:4.2rem;
}

.container.member_list.normal .search_con {
  text-align:center;
  margin:5rem auto;
}

.sub .container .search_con form input {
  display:block;
  float:left;
  margin-right:0.5rem;
}
.sub .container .search_con form input.search_button {
  display:block;
  width:100%;
}
.sub .container .search_con ul:after {
  display:block;
  content:"";
  float:none;
  clear:both;
}
.sub .container .search_con form > * {
  display:block;
  width:100%;
  margin-bottom:0.8rem;
}
@media (min-width: 768px) {
  .sub .container .search_con form {
    margin:auto;
    width: 57.5rem;
  }
  .sub .container .search_con form:after {
    display:block;
    content:"";
    float:none;
    clear:both;
  }

  .sub .container .search_con form > * {
    width:auto;
    margin-bottom:0rem;
    float:left;
  }
  .sub .container .search_con form input.search_button {
    width:10rem;
    margin-right:0rem;
  }
}

.container.member_list.normal #MemeberListPaging ul {
  position:relative;
  left:0rem;
  display:table;
  width:100%;
  white-space:nowrap;
  text-align:center;
  margin:auto;
}
.container.member_list.normal #MemeberListPaging li {
  display:block;
  float:left;
  width:10%;
  height:3.5rem;
  border:1px solid #bfbfbf;
  box-sizing: border-box;
  margin-bottom:0.5rem;
}
.container.member_list.normal #MemeberListPaging .button_li {
  display:block;
  width:100%;
  height:3.5rem;
  margin-top:1.3rem;
  border:0px;
}

@media (min-width: 768px) {
  .container.member_list.normal #MemeberListPaging ul.write_yes {
    left:-5rem;
  }
  .container.member_list.normal #MemeberListPaging ul {
    width:auto;
  }
  .container.member_list.normal #MemeberListPaging li {
    width:3.5rem;
    margin-bottom:0rem;
  }
  .container.member_list.normal #MemeberListPaging .button_li {
    position:absolute;
    right:-9.5rem;
    display:block;
    width:8.5rem;
    height:3.5rem;
    border:0px;
    margin:0rem;
  }
}

.container.member_list.normal #MemeberListPaging li.button_li a {
  padding:0rem;
}
.container.member_list.normal #MemeberListPaging li.button_li a:hover {
  color:#303030;
}

.container.member_list.normal #MemeberListPaging li+li {
  border-left:0px;
}
.container.member_list.normal #MemeberListPaging li a {
  display:block;
  width:100%;
  height:100%;
  line-height:3.5rem;
  color:#707070;
  text-align:center;
}
.container.member_list.normal #MemeberListPaging li a.active,
.container.member_list.normal #MemeberListPaging li a:hover {
  font-weight: 700;
  text-decoration: none;
  color: #303030;
  background: #f9f9f9;
}
.container.member_list.normal #MemeberListPaging li a.linebutton.active,
.container.member_list.normal #MemeberListPaging li a.linebutton:hover {
  font-weight: 400;
  background: #ffce00;
}
.container.member_list.normal #MemeberListPaging ul:after {
  display:block;
  content:"";
  float:none;
  clear:both;
}

/*********** 쓰기페이지 ************/
.sub .container form input.check {
  width: 2rem;
  height: 2rem;
  margin-top: 1.2rem;
  padding: 0rem;
  border: 1px solid #d0d0d0;
}
.sub .container form input.width100 {
  width:100%;
  max-width: 300rem;
  margin:0%;
}
.sub.designcustom .cke_toolgroup {
    margin: 0 6px 3px 0;
    padding: 2px;
}
.sub.designcustom a.cke_button {
    padding: 2px 4px !important;
}
.sub .container .file_form {
  position:relative;
  overflow:hidden;
}
.sub .container .file_form .file_input {
  position:absolute;
  display: inline-block;
  left: -101%;
}
.sub .container .file_form > * {
  display:block;
  float:left;
}
.sub .container .file_form:after {
  display:block;
  content:"";
  float:none;
  clear:both;
}
.sub .container .file_form label {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: 1px solid #bfbfbf;
  border-color: #bfbfbf;
  background-color: #fff;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.sub .container #ajaxform.file_form > * {
  width: 100%;
  margin-bottom:0.5rem;
  max-width: none;
}
@media (min-width: 768px) {
  .sub .container #ajaxform.file_form > * {
    width: 30%;
    max-width: 15rem;
    margin-left:1rem;
    margin-bottom:0rem;
  }
  .sub .container #ajaxform.file_form > label {
    width: 40%;
    margin-left:0rem;
    max-width: 50rem;
  }
}


/**************/

html .sub.designcustom>.view_container.container,
html .sub.designcustom>.comment_container.container {
  min-height:0rem;
}
html .sub.designcustom>.comment_container.container {
  padding: 2rem 0;
}

.sub.designcustom .comment_container > section:before {
  display:block;
  content:"";
  margin: 0rem 0rem 5rem 0rem;
  width:100%;
  height:1px;
  background:#e5e5e5;
}
.view_container .post_view li {
  margin-bottom:1rem;
}
.sub.designcustom .view_container .buttonbox {
  margin-bottom:2rem;
}
html.sub .comment_container textarea {
  padding:1rem;
  width:100%;
  height:8rem;
  font-size:1.4rem;
  line-height:2rem;
  margin-bottom:0.5rem;
  resize:none;
  background:#fdfdfd;
  border: 1px solid #bfbfbf;
}
.sub .container h3.writed_ok_info {
  font-size:1.4rem;
  line-height:2rem;
  margin-bottom:2rem;
}
.sub .container strong.commentSecret_info {
  font-size:1.4rem;
}
html.sub .comment_container label {
  font-size: 1.4rem;
  position: relative;
  font-weight: normal;
  top: -0.5rem;
  margin-right: 1rem;
}
.view_container .post_view li > div {
  margin: 0;
  padding: 0.6rem 0rem 1.5rem 0rem;
  padding-left: 0;
  font-size: 1.6rem;
  color: #808080;
}
.view_container .post_view li > div#member_listViewContents{
  overflow: auto;
}
@media (min-width: 992px) {
  .view_container .post_view li > div {
    padding: 0.6rem 0rem 0rem 0rem;
  }
}
html.sub .comment_container form:before {
  display:block;
  content:"";
  clear:both;
}
html.sub .comment_container .check_secret {
  float:left;
  width:15rem;
}
html.sub .comment_container .submit_btn {
  float:right;
}
html.sub .comment_container section {
  margin-bottom: 6rem;
}
