<nav class="admin_menu">
  <ul>
    <li>
      <a href="/admin_page/member_list" class="linebutton small">회원관리</a>
    </li>
    <li>
      <a href="/admin_page/board_list" class="linebutton small">게시판관리</a>
    </li>
  </ul>
</nav>
<hr class="admin_menu" />
