</main>
<footer class="designcustom" itemscope itemtype="http://schema.org/Organization" role="contentinfo">
  <div>
    <div class="h1 no_padding">
        <figure>
          <a class="navbar-brand" href="/" itemprop="logo" role="button">
            <img src="/images/main/copyright_logo.jpg" alt="로고" />
          </a>
            <figcaption class="blind">CHEESE</figcaption>
        </figure>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="NS33BRJFET4JU">
      <input type="image" src="https://popsapple.s3.ap-northeast-2.amazonaws.com/banner2.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/ko_KR/i/scr/pixel.gif" width="1" height="1">
    </form>      
    <ul class="no_padding">
      <li itemprop="copyrightHolder">2017 COPYRIGHT CHEESE ALL RIGHTS RESERVED.</li>
      <li itemprop="description">본 사이트의 내용은 검증된 내용이 아닙니다. 이 점 참고 부탁드립니다.</li>
      <li class="visible-md none_float clearfix"></li>
      <li class="author icon" itemprop="author">POPSAPPLE</li>
      <li class="email icon" itemprop="email">saysun34@gmail.com</li>
      <li style="display: none" itemprop="url">https://kitocommu.herokuapp.com</li>
    </ul>
  </div>
</footer>

<script  type="text/javascript" src="/js/tooltip.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1230275671093952",
    enable_page_level_ads: true
  });
</script>

<!-- 직접 작성한 Script -->
<script  type="text/javascript" src="/js/result.min.js?token='<%= locals.nowtime %>'"></script>
