<nav class="navbar navbar-default" itemscope = "" itemtype = "http://schema.org/WebPage">
  <div class="container" itemprop = "breadcrumb">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><h1><a class="navbar-brand" href="#">키토제닉 다이어트</a></h1></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">다이어트 체크<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">출석체크</a></li>
            <li><a href="board/:normal_board">자기소개</a></li>
            <li><a href="#">다이어트 메모</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">커뮤니티<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">일상 톡톡</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">식단 짜주세요<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">오늘 뭐 먹지?</a></li>
            <li><a href="#">추천 레시피</a></li>
          </ul>
        </li>
        <li>
          <form class="navbar-form navbar-left submit_item" method="post" action="/food_search/search_list" role="search">
            <div class="form-group">
              <input type="text" name="keyword" class="form-control submit_text" placeholder="검색어를 입력하세요 예) 바나나">
            </div>
            <button type="submit" class="btn btn-default ">음식성분 알아보기</button>
          </form>
        </li>
        <%if(locals.nickname){%>
          <li>
            <strong>
              <%= locals.nickname %> 님 환영합니다
              <a href="/mypage/list" role="button">개인정보수정</a>
              <a href="/logout" role="button">로그아웃</a>
            </strong>
          </li>
        <%}else {%>
          <li>
            <a class="btn btn-default" href="/join_member_step1" role="button">회원가입하기</a>
          </li>
          <li>
            <a class="btn btn-default" href="/login_form" role="button">로그인하기</a>
          </li>
        <%}%>
      </ul>
      <!--script>
        $(".submit_item").on('submit', function(){
          $.ajax({
            type: "POST",
                url: "/food_search",
                data: JSON.stringify({"keyword" : $(".submit_text").val()}),
                contentType: "application/json",
                success: function(d) {
                    var html;
                    for (var i = 0; i < d.food_list.length; i++) {
                        html += '<strong>'+d.food_list[i].food_name+'</strong>';
                    }
                    $('.food_list').html(html);
                },
                error: function(d) {
                    console.log("Error!!!!!!!!!!!!");
                }
          });
        });
      </script-->
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
