<section class="sub_visual" itemscope itemtype="http://schema.org/mainContentOfPage">
  <span class="blind">치즈와 키토제닉 전용 빵이 들어간 샐러드 접시</span>
  <h1>
    다이어트에 있어 식이조절은 <br class="visible-xs visible-sm" />선택이 아닌 필수입니다.
  </h1>
</section>
