#MakeNewRoom > fieldset {
  display:block;
  width:100%;
  margin-top: 2.7rem;
  padding: 3rem 1.5rem;
  text-align: center;
  border:1px solid #e5e5e5;
}
#MakeNewRoom #AddNewCattingRoom {
  display:table;
  width:100%;
  vertical-align:middle;
  text-align: center;
}
#MakeNewRoom #AddNewCattingRoom > * {
  display:table-cell;
}
#MakeNewRoom #AddNewCattingRoom > * > #AddNewCattingRoomTitle {
  width:65%;
  min-width:20rem;
  max-width:50rem;
}
#MakeNewRoom #AddNewCattingRoom > * > button {
  width:30%;
  min-width:10rem;
  max-width:15rem;
}
#MakeNewRoom #AddNewCattingRoom > * > .line {
  display:block;
  width:100%;
  margin-bottom:0.8rem;
}

#MakeNewRoom #AddNewCattingRoom .room_secret {
  width: 0.1rem;
  height: 0.1rem;
  overflow:hidden;
  vertical-align: middle;
  padding-left: 2rem;
  margin: 0rem;
  opacity: 0;
}
#MakeNewRoom #AddNewCattingRoom > * > label .lock:before {
  display: inline-block;
  font-family: FontAwesome,sans-serif;
  content: "\f09c";
  width: 4.5rem;
  height: 4.3rem;
  text-align: center;
  line-height: 3.35rem;
  font-size: 2rem;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  border: 1px solid #bfbfbf;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
}
#MakeNewRoom #AddNewCattingRoom > * > label .lock:hover:before {
  background-color:#ededed;
}
div.modal.catting_dialog > div > div label{
  display:inline-block;
}
#AddNewCattingRoom .lock:hover {
  cursor:pointer;
}
#MakeNewRoom #AddNewCattingRoom > * > label .lock.active:before {
  display: inline-block;
  font-family: FontAwesome,sans-serif;
  content: "\f023";
  position:relative;
}

#TotalRoomList .room_list {
  position:relative;
  margin-top:3rem;
}
#TotalRoomList .room_list > li {
  position:absolute;
  display:block;
  float:left;
  top: 0px;
  left: 0px;
  transform:matrix(1, 0, 0, 1, 0, 0);
  -ms-transform:matrix(1, 0, 0, 1, 0, 0);
}
#TotalRoomList .room_list > li > div {
  padding:2.5rem 1.5rem;
  background:#ffffff;
  border:1px solid #e5e5e5;
}
#TotalRoomList .room_list > li > div > * {
  display:block;
  margin:auto;
}
#TotalRoomList .room_list > li > div > .active {
  border-color: #ffce00;
  background-color: #ffce00;
  color: #000;
}
#TotalRoomList .room_list > li > div > h3,
#TotalRoomList .room_list > li > div > strong {
  padding:0rem;
  font-size:1.4rem;
  line-height:2rem;
  text-align:center;
  margin-bottom:1rem;
  word-break: break-all;
}
#TotalRoomList .room_list:after {
  content:"";
  width:100%;
  height:auto;
  clear:both;
}
#TotalRoomList .room_list > li > div > i {
  text-align:center;
}
#TotalRoomList .room_list > li > div > i.true:before {
  font-style:normal;
  display:inline-block;
  font-family: FontAwesome,sans-serif;
  content: "\f023";
  font-size: 1.8rem;
  margin-right:0.5rem;
  vertical-align:middle;
}
#CattingDialog > ul {
  position:relative;
  padding:3rem 1.5rem;
  border:1px solid #e5e5e5;
  border-bottom:0px;
}

#CattingDialog > ul li {
  display:block;
  font-size:1.4rem;
  margin-bottom:2rem;
}
#CattingDialog > ul li:last-child {
  margin-bottom:0rem;
}
#CattingDialog > ul li:after {
  content:"";
  display:block;
  clear:both;
}
#CattingDialog > ul li > strong {
  padding-right:2rem;
  padding-bottom:1rem;
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  color:#303030;
}
#CattingDialog > ul li > strong i {
  font-style:normal;
  font-size:1.4rem;
  font-weight:500;
  color:#303030;
}
#CattingDialog > ul li > * {
  display:block;
  font-size:1.4rem;
  text-align:left;
}
@media (min-width: 768px) {
  #CattingDialog > ul li > strong {
    padding-bottom:0rem;
    width:20%;
    max-width:20rem;
  }
  #CattingDialog > ul li > * {
    width:80%;
    float:left;
  }
}
#CattingContentsEnter {
  display:block;
}
#CattingContentsEnter textarea {
  float:left;
  border:1px solid #bfbfbf;
  border-right:0px;
  width:70%;
  height:5rem;
  padding:1.2rem 2rem;
  resize: none;
  box-sizing: border-box;
  background: #f9f9f9;
  font-size:1.4rem;
}
#CattingContentsEnter textarea:-ms-input-placeholder,
#CattingContentsEnter textarea:-webkit-input-placeholder,
#CattingContentsEnter textarea:-moz-input-placeholder {
  color:#d0d0d0;
}
#CattingContentsEnter button {
  float:left;
  width:30%;
  height:5rem;
  padding-left:1rem;
  padding-right:1rem;
  box-sizing: border-box;
}
#CattingContentsEnter:after {
  content:"";
  display:block;
  clear:both;
}

div#CattingUserlist {
    position: relative;
    margin-top: 3rem;
    padding: 3rem 1.5rem;
    padding-bottom:2.5rem;
    border: 1px solid #e5e5e5;
    border-bottom: 0px;
    margin-top:3rem;
    background:#f9f9f9;
}

div#CattingUserlist:after,
div#CattingUserlist ul:after {
  content:"";
  display:block;
  clear:both;
}
div#CattingUserlist h3 {
  padding-right:2rem;
  padding-bottom:1rem;
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  color:#303030;
}
div#CattingUserlist li > i {
  font-style:normal;
  font-size:1.2rem;
  line-height:2.2rem;
  font-weight:500;
}
div#CattingUserlist li > i.master:before {
  font-family: "FontAwesome", sans-serif;
  content: "\f005";
  margin-right:0.5rem;
}
div#CattingUserlist ul {
  display:block;
  font-size:1.4rem;
  text-align:left;
}
div#CattingUserlist ul li {
  position:relative;
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #dedede;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
}
div#CattingUserlist ul li > div {
  position: absolute;
  z-index: 1;
  left: 0rem;
  bottom: -7rem;
  width: 100%;
  height: 8rem;
  text-align: center;
  padding: 0.5rem 0rem;
  box-shadow: 0rem 0rem 0.3rem #d0d0d0;
  border: 1px solid #dedede;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
}
div#CattingUserlist ul li.master > div {
  bottom: -1.5rem;
  height: 3rem;
}
div#CattingUserlist ul li > div button {
  display:block;
  width:100%;
  margin:0rem;
  padding:0rem;
  border:0rem;
  height:1.95rem;
  background:#ffffff;
  line-height:1.95rem;
  margin-bottom:0.5rem;
  text-align: center;
}
div#CattingUserlist ul li > div button:hover {
  text-decoration:underline;
}
div#CattingUserlist ul li > div button:last-child {
  margin-bottom:0rem;
}
div#CattingUserlist ul li.active {
  background: #ededed;
}
@media (min-width: 768px) {
div#CattingUserlist h3 {
    width:20%;
    max-width:20rem;
    float:left;
    padding-top:0rem;
    padding-bottom:0rem;
    margin-top: 0.5rem;
  }
div#CattingUserlist ul {
    width:80%;
    float:left;
  }
}

div.modal.catting_dialog {
  display:none;
  background:url(/images/main/transparent_black.png);
}
div.modal.catting_dialog > div {
  display:table;
  width:100%;
  height:100%;
}
div.modal.catting_dialog > div > div {
  display:table-cell;
  width:100%;
  height:100%;
  vertical-align:middle;
  text-align:center;
}
div.modal.catting_dialog > div > div input {
  display: inline-block;
  width: 60%;
  max-width: 40rem;
  margin-right: 1rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: 1px solid #bfbfbf;
  border-color: #bfbfbf;
  background-color: #fff;
}
div.modal.catting_dialog > div > div button {
  float: none;
  clear: both;
  opacity: 1;
  padding: 1.2rem;
  vertical-align: bottom;
  line-height: 100%;
}
