.designcustom .blind {
  display:inline-block;
  width:1px;
  height:auto;
  padding-left:1px;
  text-align:left;
  max-height:0px;
  overflow:hidden;
  font-size:1rem;
}

.designcustom .container {
  padding:1.6rem 0rem;
}

.designcustom * {
  font-size:15px;
}

.designcustom img {
  vertical-align:top;
}

.designcustom .no_padding,
.designcustom .no_margin {
  padding:0px;
  margin:auto;
}

/******** gnb **********/

.designcustom .navbar {
  position:relative;
  background:none;
  display:table;
  border:0px;
  width:100%;
  height:12rem;
  line-height:12rem;
}

.designcustom .navbar .container {
  display:table;
  width:100%;
}

.designcustom .navbar-header {
  display:table-row;
  width:100%;
  height:100%;
  vertical-align:middle;
  line-height:inherit;
}
.designcustom .navbar-header > h1 img{
  display:inline-block;
  width: 8rem;
  height: auto;
  vertical-align:inherit;
}
.designcustom .navbar-header > h1  {
  display:table-cell;
  width:50%;
  height:inherit;
  padding:0px;
  margin:0px;
  border:0px;
  vertical-align:inherit;
  line-height:inherit;
  text-align:left;
}
.designcustom .navbar-header > button:hover,
.designcustom .navbar-header > button:focus,
.designcustom .navbar-header > button {
  position:relative;
  display:table-cell;
  width:50%;
  height:inherit;
  padding:0px;
  margin:0px;
  border:0px;
  vertical-align:inherit;
  line-height:inherit;
  text-align:right;
  background:none;
}
.designcustom .navbar-header > * > * {
  height:100%;
  vertical-align:inherit;
}
.designcustom .navbar-header button img {
  display:inline-block;
  width: 5.5rem;
  height: auto;
  vertical-align:inherit;
}

@media (min-width: 768px) {
  .navbar-toggle {
      display: block;
  }
}

.designcustom .navbar-collapse {
  position:fixed;
  display:block;
  visibility: visible;
  overflow: hidden;
  width:100vw;
  height:0rem;
  top:0rem;
  background:#000000;
  opacity:0;
  z-index:1;
  font-size:0rem;
  -webkit-transition:opacity 1s 1s,height 0s 2s;
  -moz-transition:opacity 1s 1s,height 0s 2s;
  -ms-transition:opacity 1s 1s,height 0s 2s;
  -o-transition:opacity 1s 1s,height 0s 2s;
  transition:opacity 1s 1s,height 0s 2s;
}

.designcustom .navbar-collapse.in {
  opacity:1;
  height:100vh;
  font-size:1rem;
  visibility: visible;
  -webkit-transition:opacity 1s 0s,height 0s 0s;
  -moz-transition:opacity 1s 0s,height 0s 0s;
  -ms-transition:opacity 1s 0s,height 0s 0s;
  -o-transition:opacity 1s 0s,height 0s 0s;
  transition:opacity 1s 0s,height 0s 0s;
}

.designcustom .navbar-collapse > ul {
  display:block;
  width:100vw;
  height:75vh;
  background:#ffce00;
  z-index:2;
  margin-top:-75vh;
  -webkit-transition:margin-top 0.5s 0.5s ease-out;
  -moz-transition:margin-top 0.5s 0.5s ease-out;
  -ms-transition:margin-top 0.5s 0.5s ease-out;
  -o-transition:margin-top 0.5s 0.5s ease-out;
  transition:margin-top 0.5s 0.5s ease-out;
}

.designcustom .navbar-collapse.in > ul {
  margin-top:0vh;
  -webkit-transition:margin-top 0.2s 0.5s ease-in;
  -moz-transition:margin-top 0.2s 0.5s ease-in;
  -ms-transition:margin-top 0.2s 0.5s ease-in;
  -o-transition:margin-top 0.2s 0.5s ease-in;
  transition:margin-top 0.2s 0.5s ease-in;
}
.designcustom .navbar-collapse > ul > li {
  display:block;
  width:100vw;
  height:auto;
  max-height:10vh;
  overflow-y: hidden;
  text-align:center;
}
.designcustom .navbar-collapse > ul > li > a {
  display:block;
  width:100vw;
  height:10vh;
  line-height:10vh;
  font-size:2rem;
}
.designcustom .navbar-collapse > ul > li > a+ul {
  display:block;
  width:100vw;
  height:auto;
  line-height:10vh;
}
.designcustom .navbar-collapse > ul > li > a+ul li {
  display:block;
  font-size:1rem;
}
.designcustom .navbar-collapse > ul+button {
  position:relative;
  display:block;
  width:5rem;
  height:5rem;
  margin :auto;
  margin-top:5rem;
  background: none;
  border: 0px;
}

@keyframes closebutton {
  0% {
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    animation-name: closebutton;
    animation-duration: 2s;
    animation-delay: 2s;
    transform: rotate(45deg); /* ie9에서 지원 안되는 animation-fill-mode 대신 사용 */
  }
  100% {
    transform: rotate(45deg);
  }
}

.designcustom .navbar-collapse.in > ul+button:before,
.designcustom .navbar-collapse.in > ul+button:after {
  position:absolute;
  left:50%;
  top:50%:
  margin-left:-2.5rem;
  mrgin-top:-2.5rem;
  content:"";
  display:block;
  width:4rem;
  height:0.5rem;
  background:#ffffff;
  transform: rotate(45deg);
  -webkit-transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2s;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2s;

}
