/*********  메인비주얼  *********/
.main_visual.flexslider,
.main_visual.flexslider .slides {
  margin:0rem;
  padding:0rem;
  position:relative;
  white-space:nowrap;
}
.main_visual.flexslider .slides > li {
  position:relative;
  width:100%;
}
.main_visual.flexslider .slides > li  > h1 {
  position:absolute;
  display:block;
  width:91%;
  height:83%;
  margin:0rem;
  top:0rem;
  left:4.5%;
}

.main_visual.flexslider .slides > li img {
  display:block;
  width:100%;
  height:auto;
}

.main_visual.flexslider .slides > li h1 > div {
  position:relative;
  display:table;
  width:100%;
  height:100%;
  vertical-align:middle;
  white-space:normal;
}

.main_visual.flexslider .slides > li h1 > div > div {
  display:table-cell;
  vertical-align:middle;
  width:100%;
  height:100%;
}

.main_visual.flexslider .slides > li h1 div * {
  display:block;
  color:#ffffff;
}

.main_visual.flexslider .slides > li h1 div strong {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: break-word;
  width: 100%;
}

.main_visual.flexslider .slides > li h1 div span {
  font-size:1.4rem;
  line-height: 2.5rem;
  font-weight:300;
}

.main_visual_control {
  position:absolute;
  z-index:1;
  display:block;
  width:100%;
  height:20%;
  bottom:0rem;
  font-size:0rem;
  vertical-align:middle;
  text-align: center;
}

.main_visual_control > * {
  display:inline-block;
  font-size:1rem;
}

.main_visual_control > button {
  width: 4rem;
  height: 0.6rem;
  background: #fff;
  transform: skewY(15deg);
  margin-right: 3rem;
  border:0rem;
}

.main_visual_control > button+button+button {
  margin-right:0rem;
}

.main_visual_control > button.flex-active {
  background:#ffce00;
}


/*********  레시피  *********/
.main_recipe > ul {
  display:block;
  white-space:nowrap;
  margin:0rem;
  padding:0rem;
}

.main_recipe > ul > li {
  display:block;
  width:100%;
}

.main_recipe > ul > li > a {
  position:relative;
  display:block;
  width:100%;
  height:100%;
}

.main_recipe > ul > li > a > *,
.main_recipe > ul > li > a > * img {
  display:block;
  width:100%;
  height:auto;
}

.main_recipe > ul > li > a > div {
  position:absolute;
  z-index:1;
  display:block;
  vertical-align:middle;
  width:100%;
  height:100%;
}

.main_recipe > ul > li > a > div > div {
  display:table;
  vertical-align:middle;
  width:100%;
  height:100%;
}
.main_recipe > ul > li > a h2 {
  display:table-cell;
  vertical-align:middle;
  width:100%;
  height:100%;
}
.main_recipe > ul > li > a h2 strong {
  position:relative;
  display:block;
  padding-top:2.7rem;
  color:#ffffff;
  font-weight:700;
  font-size:1.8rem;
  text-align: center;
}

.main_recipe > ul > li > a h2 strong:before {
  position:absolute;
  content:"";
  display:block;
  width: 4rem;
  height: 0.6rem;
  background: #fff;
  transform: skewY(15deg);
  margin-right: 3rem;
  top:0rem;
  left: 50%;
  margin-left: -2rem;
}
