/*********  메인비주얼  *********/
.main_visual.flexslider,
.main_visual.flexslider .slides {
  margin:0rem;
  padding:0rem;
  position:relative;
  white-space:nowrap;
}
.main_visual.flexslider .slides > li {
  position:relative;
  width:100%;
}
.main_visual.flexslider .slides > li {
  display:none !important;
}
.main_visual.active.flexslider .slides > li {
  display:block !important;
}
.main_visual.flexslider .slides > li  > h1 {
  position:absolute;
  display:block;
  width:91%;
  height:83%;
  margin:0rem;
  top:0rem;
  left:4.5%;
}

.main_visual.flexslider .slides > li img {
  display:block;
  width:100%;
  height:auto;
}

.main_visual.flexslider .slides > li h1 > div {
  position:relative;
  display:table;
  width:100%;
  height:100%;
  vertical-align:middle;
  white-space:normal;
}

.main_visual.flexslider .slides > li h1 > div > div {
  display:table-cell;
  vertical-align:middle;
  width:100%;
  height:100%;
}

.main_visual.flexslider .slides > li h1 div * {
  display:block;
  color:#ffffff;
}

.main_visual.flexslider .slides > li h1 div strong {
  font-size: 2.3rem;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: break-word;
  width: 100%;
}

.main_visual.flexslider .slides > li h1 div span {
  font-size:1.8rem;
  line-height: 2.5rem;
  font-weight:300;
}

.main_visual_control {
  position:absolute;
  z-index:1;
  display:block;
  width:100%;
  height:20%;
  bottom:0rem;
  font-size:0rem;
  vertical-align:middle;
  text-align: center;
}

.main_visual_control > * {
  display:inline-block;
  font-size:1rem;
}

.main_visual_control > button {
  width: 4rem;
  height: 0.6rem;
  background: #fff;
  transform: skewY(15deg);
  margin-right: 3rem;
  border:0rem;
}

.main_visual_control > button+button+button {
  margin-right:0rem;
}

.main_visual_control > button.flex-active {
  background:#ffce00;
}


/*********  레시피  *********/

.main_recipe {
  text-align:center;
}

.main_recipe > ul {
  display:block;
  white-space:nowrap;
  margin:0rem;
  padding:0rem;
}

.main_recipe > ul > li {
  display:block;
  width:100%;
}

.main_recipe > ul > li > a {
  position:relative;
  display:block;
  width:100%;
  height:100%;
}

.main_recipe > ul > li > a > *,
.main_recipe > ul > li > a > * img {
  display:block;
  width:100%;
  height:auto;
}

.main_recipe > ul > li > a > div {
  position:absolute;
  z-index:1;
  display:block;
  vertical-align:middle;
  width:100%;
  height:100%;
}

.main_recipe > ul > li > a > div > div {
  display:table;
  vertical-align:middle;
  width:100%;
  height:100%;
}
.main_recipe > ul > li > a h2 {
  display:table-cell;
  vertical-align:middle;
  width:100%;
  height:100%;
}
.main_recipe > ul > li > a h2 strong {
  position:relative;
  display:block;
  padding-top:2.7rem;
  color:#ffffff;
  font-weight:700;
  font-size:1.8rem;
  text-align: center;
}

.main_recipe > ul > li > a h2 strong:before {
  position:absolute;
  content:"";
  display:block;
  width: 4rem;
  height: 0.6rem;
  background: #fff;
  transform: skewY(15deg);
  margin-right: 3rem;
  top:0rem;
  left: 50%;
  margin-left: -2rem;
}

.designcustom .main_recipe .linebutton {
  margin:5rem 0rem;
}


/***** 키토제닉 다이어트 설명 *****/

.main_kito_desc {
  display:block;
  background:#f0ede6;
  padding-top : 5rem;
}

.main_kito_desc h1 strong {
  display:block;
  font-size:3.5rem;
  color:#464646;
  font-weight:800;
  margin-bottom:1.5rem;
}

.main_kito_desc h1 span {
  display:block;
  font-size:1.8rem;
  line-height:2.2rem;
  color:#707070;
  font-weight:400;
}

.main_kito_desc h1 span em {
  display:inline-block;
  color:#303030;
  background:#fac304;
  font-style:normal;
  margin-bottom:2rem;
}

.main_kito_desc h1 span em {
  display: inline-block;
  color: #303030;
  background: #fac304;
  padding: 0.1rem 0.5rem;
  font-size: 1.6rem;
  margin-bottom: 0rem;
}
.main_kito_desc figure {
  position:relative;
}

@keyframes kitoliver {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(15,15);
  }
}

@keyframes kitoliver2 {
  0% {
    transform: scale(0,0);
  }
  100% {
    transform: scale(22,22);
  }
}

@keyframes kitoliver3 {
  0% {
    transform: scale(0,0);
  }
  100% {
    transform: scale(29,29);
  }
}

.main_kito_desc figure .circle {
  position:absolute;
  z-index:1;
  display:block;
  width:1rem;
  height:1rem;
}

.main_kito_desc figure .circle > span {
  position:relative;
  display:block;
  width:1rem;
  height:1rem;
}

.main_kito_desc figure .circle .circle_obj{
  position:absolute;
  left:50%;
  height:50%;
  margin-left:-0.5rem;
  margin-top:-0.5rem;
  display:block;
  width:1rem;
  height:1rem;
  background:#ff4f0a;
  border-radius:100rem;
  opacity:0.3;
  animation-name:kitoliver;
  animation-duration: 1.5s;
  animation-delay: 4.5s;
  animation-iteration-count: infinite;
}

.main_kito_desc figure .circle .circle02{
  width:1rem;
  height:1rem;
  background:#ffa00a;
  animation-name:kitoliver2;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.main_kito_desc figure .circle .circle03{
  width:1rem;
  height:1rem;
  background:#ffbd0a;
  animation-name:kitoliver3;
  animation-duration: 1.5s;
  animation-delay: 3s;
}

.main_kito_desc figure .liver {
  position:absolute;
  z-index:2;
}
