<!DOCTYPE html>
<html class="sub" lang="ko">
<head>
  <link rel="stylesheet" type="text/css" href="/other/others.css" />
  <% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
  <main role="main">
  <div class="sub designcustom">
      <div class="container board normal">
        <% include ../partials/sub_visual.ejs %>
        <article class="introduce_foods">
          <h1>
            식품정보찾기 (제작중입니다)
          </h1>
          <form method="post" action="/food_search">
            <ul>
                <li>
                    <label>식품명</label>
                    <input type="text" name="foodname" id="foodname" />
                </li>
            </ul>
            <button type="submit" class="btn btn-default">조회</button accesskey="s">
          </form>
        </article>
      </div>
    </div>
<% include ../partials/footer.ejs %>
</body>
</html>
