<!DOCTYPE html>
<html class="sub" lang="ko">
<head>
  <link rel="stylesheet" type="text/css" href="/other/others.css" /><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
  <main role="main">
  <div class="sub designcustom">
      <div class="container board normal">
        <% include ../partials/sub_visual.ejs %>
        <article class="introduce_foods">
          <h2>
            식품정보찾기
          </h2>
          <form id="search_food_form">
            <ul>
                <li>
                    <h3><label>식품명</label></h3>
                    <input type="text" name="foodname" id="foodname" />
                </li>
            </ul>
          </form>
          <div class="buttonbox">
            <div>
              <button type="button" id="search_food" class="linebutton middle">조회</button accesskey="s">
            </div>
          </div>
          <hr />
          <div id="food_result">
            <h2></h2>
            <ul></ul>
          </div>
        </article>
      </div>
    </div>
<% include ../partials/footer.ejs %>

<script>
    

    $("#search_food").on('click', function(){
        $.ajax({
          type: "POST",
              url: "/food_search",
              data: JSON.stringify({
                "foodname" : $("#foodname").val()
              }),
              contentType: "application/json",
              success: function(data) {
                if(!data.foodname){
                  alert("입력하신 조건에 맞는 음식을 찾지 못했습니다.");
                  return false;
                }
                $("#food_result > ul").html("");
                $("#food_result > h2").html(data.foodname+"의 검색결과는 다음과 같습니다.");

                var foodlist = JSON.parse( data.foodlist);
                foodlist.forEach(function(item,idx){
                  var ad = "";
                  if(idx !== 0 && idx % 5 === 0) {
                    ad = "<ins class='adsbygoogle'"+
                    "style='display:block; text-align:center;'"+
                    "data-ad-layout='in-article'"+
                    "data-ad-format='fluid'"+
                    "data-ad-client='ca-pub-1230275671093952'"+
                    "data-ad-slot='1360757593'></ins>";
                  }
                  $("#food_result > ul").prepend("<li></li>");
                  $("#food_result > ul > li").eq(0).html("<span class='img'>준비중인 이미지입니다</span>"+"<ul>"+
                    "<li><h3>"+item.name[0]+"</h3></li>"+
                    "<li><strong>중량(g)</strong>"+parseFloat(item.weight[0]).toFixed(1)+"</li>"+
                    "<li><strong>칼로리</strong>"+parseFloat(item.kcal[0]).toFixed(1)+"</li>"+
                    "<li><strong>탄수화물(g)</strong>"+parseFloat(item.carbon[0]).toFixed(1)+"</li>"+
                    "<li><strong>단백질(g)</strong>"+parseFloat(item.protein[0]).toFixed(1)+"</li>"+
                    "<li><strong>지방(g)</strong>"+parseFloat(item.fat[0]).toFixed(1)+"</li>"+
                    ad+
                    "<li><strong>식이섬유(g)</strong>"+parseFloat(item.fiber[0]).toFixed(1)+"</li>"+
                    "<li><strong>물(g)</strong>"+parseFloat(item.water[0]).toFixed(1)+"</li>"+
                    "</ul>")
                })
                (adsbygoogle = window.adsbygoogle || []).push({});
                self.close();
              },
              error: function(data) {
                  console.log("Error!!!!!!!!!!!!");
              }
        });
      return false;
    });
</script>
</body>
</html>
