<!DOCTYPE html>
<html class="sub" lang="ko">
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
  <main itemscope itemtype = "http://schema.org/WebPage" role="main">
  <div class="sub designcustom">
    <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
      <section>
        <h2 class="section_title left">
          <strong><%= id %>님의 회원가입을 축하합니다.</strong>
          <span>로그인 후에 자기소개 게시판에 가셔서 모두에게 자신을 알려보세요.</span>
        </h2>
        <div class="buttonbox">
          <a href="/login_form" taget="_self" class="linebutton middle" accesskey="s">로그인 하러가기</a>
        </div>
      </section>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
