<!DOCTYPE html>
<html class="sub">
<head>
  <% include ../partials/header.ejs %>
  <div class="sub designcustom" itemscope itemtype = "http://schema.org/WebPage" role="main">
    <% include ../partials/nav.ejs %>
      <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
        <section>
          <form method="get" action="/join_member_step3">
            <fieldset class="clearfix">
              <legend>
                <h2 class="section_title left">
                  <strong>기본 인적사항</strong>
                  <span>기본적으로 사용되는 회원정보입니다.</span>
                </h2>
              </legend>
              <ul class="col-xs-12">
                <li class="clearfix">
                  <h3 class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                    <label for="joinId">아이디</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                    <input id="joinId" name="id" type="text" aria-required="true" value="" data-toggle="tooltip" placeholder="아이디를 입력하세요 (숫자,알파벳,-,_등만 입력 가능합니다. 8자 이상)" required />
                    <button type="button" id="joinCheckId" class="linebutton small dobule_check" data-item="joinId" value="no" role="alert">
                      중복확인하기
                    </button>
                  </div>
                </li>
                <li class="clearfix">
                  <h3 class="col-xs-12 col-md-3 col-lg-2">
                    <label for="joinPassword">비밀번호</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                    <input id="joinPassword" name="pw" type="password" data-toggle="tooltip" placeholder="비밀번호를 입력하세요 (숫자,알파벳만 입력 가능합니다. 10자 이상)" required />
                  </div>
                </li>
                <li class="clearfix">
                  <h3 class="col-xs-12 col-md-3 col-lg-2">
                    <label for="joinNickname">닉네임</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                    <input id="joinNickname" name="nickname" type="text" aria-required="true" value="" data-toggle="tooltip" placeholder="닉네임을 입력하세요 (2~20자)" required />
                    <button type="button" id="joinCheckNickname" class="linebutton small dobule_check" data-item="joinNickname" value="no" role="alert">
                      중복확인하기
                    </button>
                  </div>
                </li>
                <li class="clearfix">
                  <h3 class="col-xs-12 col-md-3 col-lg-2">
                    <label for="joinEmail">이메일</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                    <input id="joinEmail" name="email" type="text" value="" data-toggle="tooltip" placeholder="이메일을 형식에 맞게 입력하세요" required />
                  </div>
                </li>
                <li class="clearfix">
                  <h3 class="col-xs-12 col-md-3 col-lg-2">
                    <label for="joinTel">전화번호</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                    <input id="joinTel" name="tel" type="text" value="" data-toggle="tooltip" placeholder="특수문자 및 공백을 제외한 숫자만 입력하세요" required />
                  </div>
                </li>
              </ul>
              </fieldset>
              <fieldset class="clearfix">
                <legend>
                  <h2 class="section_title left">
                    <strong>신체정보</strong>
                    <span>차후 다이어트 관련 서비스 제안시 사용될 내용입니다.</span>
                  </h2>
                </legend>
                <ul>
                  <li class="clearfix">
                    <h3 class="col-xs-12 col-md-3 col-lg-2">
                      <label for="joinSex">성별</label>
                    </h3>
                    <div class="col-xs-12 col-md-9 col-lg-10">
                      <select id="joinSex" name="sex" required >
                        <option value="female">여성</option>
                        <option value="male">남성</option>
                      </select>
                    </div>
                  </li>
                  <li class="clearfix">
                    <h3 class="col-xs-12 col-md-3 col-lg-2">
                      <label for="joinHeight">키</label>
                    </h3>
                    <div class="col-xs-12 col-md-9 col-lg-10">
                      <input id="joinHeight" name="height" type="text" value="" data-toggle="tooltip" placeholder="키를 입력해주세요 (숫자만 가능합니다)" required />
                    </div>
                  </li>
                  <li class="clearfix">
                    <h3 class="col-xs-12 col-md-3 col-lg-2">
                      <label for="joinWeight">몸무게</label>
                    </h3>
                    <div class="col-xs-12 col-md-9 col-lg-10">
                      <input id="joinWeight" name="weight" type="text" value="" data-toggle="tooltip" placeholder="몸무게를 입력해주세요 (숫자만 가능합니다)" required />
                    </div>
                  </li>
                </ul>
              </fieldset>
              <div class="buttonbox">
                <div>
                  <a href="/" type="submit" class="linebutton middle" accesskey="z">가입 취소</a>
                  <button type="submit" onclick="CheckFormInput();" class="linebutton middle" accesskey="s">회원가입하기</button>
                </div>
              </div>
            </form>
        </section>
      </div>
    </div>
  <% include ../partials/footer.ejs %>
  </body>
</html>
