<!DOCTYPE html>
<html class="sub">
<head>
  <% include ../partials/header.ejs %>
  <div class="sub designcustom" itemscope itemtype = "http://schema.org/WebPage" role="main">
  <% include ../partials/nav.ejs %>
    <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
      <section>
        <form method="post" action="/login">
          <fieldset>
            <legend>
              <h2 class="section_title left">
                <strong>로그인 정보 입력</strong>
                <span>기본적으로 사용되는 회원정보입니다.</span>
              </h2>
            </legend>
            <ul class="col-xs-12">
              <li class="clearfix">
                <h3 class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                  <label for="joinId">아이디</label>
                </h3>
                <div class="col-xs-12 col-md-9 col-lg-10">
                  <input id="joinId" name="id" type="text" aria-required="true" value="" pattern="^[a-z0-9_]{8,}$" data-toggle="tooltip" placeholder="아이디를 입력하세요 (숫자,알파벳,-,_등만 입력 가능합니다.)" required />
                </div>
              </li>
              <li>
                <h3 class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                  <label for="joinPassword">비밀번호</label>
                </h3>
                <div class="col-xs-12 col-md-9 col-lg-10">
                  <input id="joinPassword" name="pw" type="password" aria-required="true" data-toggle="tooltip" placeholder="비밀번호를 입력하세요" required />
                </div>
              </li>
            </ul>
          </fieldset>
          <div class="buttonbox">
            <button type="submit" class="linebutton middle" accesskey="s">로그인하기</button>
            <button id="FindIdPw" class="linebutton middle" aria-popup="true" accesskey="f">비밀번호 / 아이디 찾기</button>
          </div>
        </form>
      </section>
    </div>
  </div>
  <script>

  </script>
  <% include ../partials/footer.ejs %>
</body>
</html>
