<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <div class="sub designcustom" itemscope itemtype = "http://schema.org/WebPage" role="main">
    <% include ../partials/nav.ejs %>
    <div class="writed_container container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
      <section>
        <h2 class="section_title">
          페이지가 존재하지 않습니다.
        </h2>
        <a href="/" class="linebutton middle section_title_button">메인페이지로 이동</a>
      </section>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
