<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body itemscope = "" itemtype = "http://schema.org/WebPage">

<% include ../partials/nav.ejs %>
<div class="container">
  <article class="food_list" itemscope = "" itemtype = "http://schema.org/Thing">
    <hgroup itemprop = "about">
      <h2><strong><%= user_keyword %>에 대한 음식들입니다.</strong></h2>
    </hgroup>
    <section>
      <ul class="food_list">
        <% for(var i=0; i < food_list.length; i++) { %>
        <li>
          <h3><%= food_list[i].food_name %></h3>
          <div>
            <strong></strong>
          </div>
        </li>
        <% } %>
      </ul>
    </section>
  </article>
</div>
<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
