<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <div class="sub designcustom" itemscope itemtype = "http://schema.org/WebPage" role="main">
    <% include ../partials/nav.ejs %>
    <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
      <article class="food_list" itemscope = "" itemtype = "http://schema.org/Thing">
        <hgroup itemprop = "about">
          <h2><strong>검색 내용이 없습니다. 다른 검색어를 이용해 주세요 :)</strong></h2>
        </hgroup>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
