<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body>

<% include ../partials/nav.ejs %>
<div class="container">
  <article>
    <hgroup>
      <h2>저탄고지 다이어 란..?</h2>
      <h3>저탄고지는 최근 수년간 전 세계 각국에서 많은 비평과 인기를 받으며 발전해온 다이어트 입니다.</h3>
    </hgroup>
    <section>
         유럽에서는 LCHF (Low Carb, High Fat) 이라고 불리고 있으며,
         목적에 따라 저탄고지라고도 부르지요. 의미를 서로 나누자면, LCHF(저탄수화물 고지방)가 좀 더 넓은 범위를 뜻하며,
         그 중 저탄고지는 LCHF에서도 탄수화물 제한을 가장 낮게 제한하는(20g 미만) 성격의 다이어트입니다.
         키토제닉 다이어트는 의학용어로 "키토(Ketosis)"라는 상태에 머무르는 다이어트이며
         탄수화물 섭취를 낮추고 많은 양의 지방과 적당한 양의 단백질을 섭취하는, 저탄수화물 고지방의 다이어트입니다.
    </section>
  </article>
  <article>
    <hgroup>
      <h2>저탄고지 다이어트 FAQ</h2>
      <h3>저탄고지는 최근 수년간 전 세계 각국에서 많은 비평과 인기를 받으며 발전해온 다이어트 입니다.</h3>
    </hgroup>
    <h2>Collapsible Panel</h2>
    <p>Click on the collapsible panel to open and close it.</p>
    <section class="panel-group">
      <ul>
        <li class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">키토제닉 다이어트는 어떤 다이어트인가요?</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">저탄고지는 최근 수년간 전 세계 각국에서 많은 비평과 인기를 받으며 발전해온 다이어트 입니다.</div>
          </div>
        </li>
        <li class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse2">정말 효과가 좋은가요?</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">네 매우 좋습니다 ^^ 그러니까 전 세계 에서 많은 관심을 받기 시작하는거죠</div>
          </div>
        </li>
        <li class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse3">디톡스 처럼 위험하진 않은가요?</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">위험성의 경우 잘 관리하고 있습니다 ^^</div>
        </li>
      </ul>
    </section>
  </article>
  <section>
    <ul>
      <li>
        <h3>가져올 식품 제목</h3>
        <div class="food_list">
          <% for(var i=0; i < food_list.length; i++) { %>
             <strong><%= food_list[i].food_name %></strong>
          <% } %>
        </div>
      </li>
    </ul>
    <div style="font-size:30px; color:red; font-weight:600;">
      <input type="text" name="keyword" value="" class="submit_text" /><button class="submit_item">전송</button>
    </div>
  </section>
</div>
<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
  $(".submit_item").click( function(){
    $.ajax({
      url: '/',
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      type: 'GET',
      data: {'keyword':'당근'},
      success: function(data) {
          if ( data == true ) {
              console.log(data.food_name);
          }
        }
      });
  });
</script>
</body>
</html>
