<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
<div class="main designcustom" itemscope itemtype = "http://schema.org/WebPage" role="main">
  <% include ../partials/nav.ejs %>
  <div class="container no_padding no_margin" role="application">
    <section class="main_visual flexslider" itemscope itemtype="http://schema.org/mainContentOfPage">
      <ul aria-labelledby="MainVisualSlider" class="slides" aria-live="polite">
        <span id="MainVisualSlider" class="blind">내용이 순차적으로 보여지는 공간입니다.</span>
        <li id="SliderItem01" aria-hidden="false">
          <figure>
            <picture>
              <source media="(min-width: 1200px)" srcset="/images/main/main_visual_01_md.jpg"></source>
              <source media="(min-width: 992px)" srcset="/images/main/main_visual_01_md.jpg"></source>
              <source media="(min-width: 768px)" srcset="/images/main/main_visual_01.jpg"></source>
              <source media="(min-width: 320px)" srcset="/images/main/main_visual_01.jpg"></source>
              <img src="/images/main/main_visual_01.jpg" alt="샐러드 접시" role="button" />
            </picture>
              <figcaption class="blind">치즈와 키토제닉 전용 빵이 들어간 샐러드 접시</figcaption>
          </figure>
          <h1>
            <div>
              <div>
                <strong>다이어트에 있어 식이조절은 <br class="visible-md visible-lg" />선택이 아닌 필수입니다.</strong>
                <span><span class="visible-md visible-lg">탄수화물 섭취는 줄이고, 지방 및 단백질 식사를 늘리는 <br /></span>저탄고지 다이어트는 식이조절 식단에 있어 좋은 선택입니다.</span>
              </div>
            </div>
          </h1>
        </li>
        <li id="SliderItem02" aria-hidden="true">
          <figure>
            <picture>
              <source media="(min-width: 1200px)" srcset="/images/main/main_visual_01_md.jpg"></source>
              <source media="(min-width: 992px)" srcset="/images/main/main_visual_01_md.jpg"></source>
              <source media="(min-width: 768px)" srcset="/images/main/main_visual_01.jpg"></source>
              <source media="(min-width: 320px)" srcset="/images/main/main_visual_01.jpg"></source>
              <img src="/images/main/main_visual_01.jpg" alt="샐러드 접시" role="button" />
            </picture>
              <figcaption class="blind">치즈와 키토제닉 전용 빵이 들어간 샐러드 접시</figcaption>
          </figure>
          <h1>
            <div>
              <div>
                <strong>다이어트에 있어 식이조절은 <br class="visible-md visible-lg" />선택이 아닌 필수입니다.</strong>
                <span><span class="visible-md visible-lg">탄수화물 섭취는 줄이고, 지방 및 단백질 식사를 늘리는 <br /></span>저탄고지 다이어트는 식이조절 식단에 있어 좋은 선택입니다.</span>
              </div>
            </div>
          </h1>
        </li>
        <li id="SliderItem03" aria-hidden="true">
          <figure>
            <picture>
              <source media="(min-width: 1200px)" srcset="/images/main/main_visual_01_md.jpg"></source>
              <source media="(min-width: 992px)" srcset="/images/main/main_visual_01_md.jpg"></source>
              <source media="(min-width: 768px)" srcset="/images/main/main_visual_01.jpg"></source>
              <source media="(min-width: 320px)" srcset="/images/main/main_visual_01.jpg"></source>
              <img src="/images/main/main_visual_01.jpg" alt="샐러드 접시" role="button" />
            </picture>
              <figcaption class="blind">치즈와 키토제닉 전용 빵이 들어간 샐러드 접시</figcaption>
          </figure>
          <h1>
            <div>
              <div>
                <strong>다이어트에 있어 식이조절은 <br class="visible-md visible-lg" />선택이 아닌 필수입니다.</strong>
                <span><span class="visible-md visible-lg">탄수화물 섭취는 줄이고, 지방 및 단백질 식사를 늘리는 <br /></span>저탄고지 다이어트는 식이조절 식단에 있어 좋은 선택입니다.</span>
              </div>
            </div>
          </h1>
        </li>
      </ul>
      <div aria-labelledby="MainSliderButtons" class="main_visual_control carousel_buttons" aria-controls="MainVisualSlider">
        <span class="blind" id="MainSliderButtons">보여지는 내용의 순서를 조절합니다.</span>
        <div>
          <button class="button01" aria-selected="true" aria-controls="SliderItem01">
            <span class="blind">첫번째</span>
          </button>
          <button class="button02" aria-selected="false" aria-controls="SliderItem02">
            <span class="blind">두번째</span>
          </button>
          <button class="button03" aria-selected="false" aria-controls="SliderItem03">
            <span class="blind">세번째</span>
          </button>
        </div>
      </div>
    </section>
    <article class="main_recipe" itemscope itemtype="http://schema.org/Recipe">
      <h1 class="section_title" itemprop="alternativeHeadline">
        <strong>키토제닉 레시피</strong>
        <span>키토 다이어트에 맞는 레시피를 확인해보세요</span>
      </h1>
      <ul class="container">
        <li class="col-xs-12 col-sm-4 event_obj no_padding">
          <a herf="#" itemprop="url">
            <div>
              <div>
                <h2>
                    <strong itemprop="name">키토제닉 빵</strong>
                </h2>
              </div>
            </div>
            <figure>
              <picture>
                <source media="(min-width: 1200px)" srcset="/images/main/recipe_01_sm.jpg"></source>
                <source media="(min-width: 992px)" srcset="/images/main/recipe_01_sm.jpg"></source>
                <source media="(min-width: 768px)" srcset="/images/main/recipe_01_sm.jpg"></source>
                <source media="(min-width: 320px)" srcset="/images/main/recipe_01.jpg"></source>
                <img src="/images/main/recipe_01.jpg" alt="키토제닉 빵 사진" />
              </picture>
              <figcaption class="blind">따끈따끈하고 풍성해 아주 맛있어 보이는 키토제닉 빵입니다.</figcaption>
            </figure>
            <figure class="visible-sm visible-md visible-lg meal_icon">
                <img src="/images/main/recipe_01_icon.png" alt="빵 아이콘" />
              <figcaption class="blind">맛있어 보이는 키토제닉 빵 아이콘 입니다.</figcaption>
            </figure>
          </a>
        </li>
        <li class="col-xs-12 col-sm-4 event_obj no_padding">
          <a herf="#" itemprop="url">
            <div>
              <div>
                <h2>
                    <strong itemprop="name">키토제닉 피자</strong>
                </h2>
              </div>
            </div>
            <figure>
              <picture>
                <source media="(min-width: 1200px)" srcset="/images/main/recipe_02_sm.jpg"></source>
                <source media="(min-width: 992px)" srcset="/images/main/recipe_02_sm.jpg"></source>
                <source media="(min-width: 768px)" srcset="/images/main/recipe_02_sm.jpg"></source>
                <source media="(min-width: 320px)" srcset="/images/main/recipe_02.jpg"></source>
                <img src="/images/main/recipe_01.jpg" alt="키토제닉 피자 사진" />
              </picture>
              <figcaption class="blind">치즈가 아주 맛있어 보이는 키토제닉 피자입니다.</figcaption>
            </figure>
            <figure class="visible-sm visible-md visible-lg meal_icon">
                <img src="/images/main/recipe_02_icon.png" alt="피자 아이콘" />
              <figcaption class="blind">맛있어 보이는 키토제닉 피자 아이콘 입니다.</figcaption>
            </figure>
          </a>
        </li>
        <li class="col-xs-12 col-sm-4 event_obj no_padding">
          <a herf="#" itemprop="url">
            <div>
              <div>
                <h2>
                    <strong itemprop="name">연어 샐러드</strong>
                </h2>
              </div>
            </div>
            <figure>
              <picture>
                <source media="(min-width: 1200px)" srcset="/images/main/recipe_03_sm.jpg"></source>
                <source media="(min-width: 992px)" srcset="/images/main/recipe_03_sm.jpg"></source>
                <source media="(min-width: 768px)" srcset="/images/main/recipe_03_sm.jpg"></source>
                <source media="(min-width: 320px)" srcset="/images/main/recipe_03.jpg"></source>
                <img src="/images/main/recipe_01.jpg" alt="키토제닉 연어 샐러드 사진" />
              </picture>
              <figcaption class="blind">살코기가 부드럽고 기름진 맛이 느껴지고, 싱싱한 채소들과 같이 만들어진 연어 샐러드입니다.</figcaption>
            </figure>
            <figure class="visible-sm visible-md visible-lg meal_icon">
                <img src="/images/main/recipe_03_icon.png" alt="샐러드 아이콘" />
              <figcaption class="blind">맛있어 보이는 키토제닉 샐러드 아이콘 입니다.</figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <a class="linebutton middle" herf="#">더 많은 레시피 보러가기</a>
    </article>
    <div class="main_design_section container col-xs-12">
      <article class="main_kito_desc col-xs-12 col-sm-12 col-md-12 col-lg-9" itemscope itemtype="http://schema.org/Intangible">
        <h1>
          <strong itemprop="alternateName">키토제닉<br class="visible-sm visible-md visible-lg" />다이어트란?</strong>
          <span class="visible-xs" itemprop="description">
            우리 몸은, 혈당이 떨어졌을 경우 <em>지방</em>을 이용해 케토(키토)
    성분을  간에서 만들어 이를 몸의 <em>에너지원</em>으로 사용합니다.
    이 원리로 식단을 저 탄수화물 및 고 지방으로 구성합니다.
          </span>
          <span class="visible-sm visible-md visible-lg" itemprop="description">
            키토제닉 다이어트의 원리는 뭄을 움직이는 연료를 탄수화물이 아닌 <em>지방을 사용</em> 하는데에 있습니다.<br /><br />
            우리 몸은 혈당이 떨어졌을 경우 지방을 이용해 케토(키토)성분을 간에서 만들어 이를 몸의 에너지원으로 사용합니다.<br /><br />
            몸이 이러한 상태일 경우를 <em>케토시스(키토시스)</em>상태라고 합니다.<br /><br />
            케토시스 상태에서는 에너지원이 일정하게 공급되므로 식탐과 식욕 컨트롤이 가능하기에 다이어트에도 효과적입니다.<br /><br />
            키토제닉 다이어트는 이러한 원리를 바탕으로 식단을 저탄수화물 고 지방으로 구성하는 다이어트법 입니다.
          </span>
        </h1>
        <figure>
          <img src="/images/main/main_meet.jpg" class="meet" alt="고기" />
          <img src="/images/main/main_cheese.jpg" class="cheese" alt="치즈" />
          <img src="/images/main/main_avocado.jpg" class="avocado" alt="아보카도" />
          <img src="/images/main/main_human.png" class="human" alt="인체" />
          <div class="circle">
            <div>
              <span class="circle_obj circle01"></span>
              <span class="circle_obj circle02"></span>
              <span class="circle_obj circle03"></span>
            </div>
            <span class="blind">간에서 케톤체 생성 및 퍼짐</span>
          </div>
          <img src="/images/main/main_liver.png" class="liver" alt="간" />
          <figcaption class="blind">
            저단백 고지방 식품군인 아보카도,치즈,고기 등을 섭취하므로써 인체 속 간에서 케톤체를 생성할 수 있도록 합니다.
          </figcaption>
        </figure>
      </article>
      <section class="main_kito_faq col-xs-12 col-sm-12 col-md-12 col-lg-4 no_margin no_padding" itemscope itemtype="http://schema.org/QAPage">
        <h1 class="section_title" itemprop="alternativeHeadline">
          <strong>자주하는 <br class="visible-sm visible-md visible-lg" />질문</strong>
          <span>키토제닉 다이어트에 대한 자주 하는 질문들입니다.</span>
        </h1>
        <ul id="MainFaqSlider" class="no_padding no_margin">
          <li class="dropdown active" role="tab" aria-hidden="false">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
            <a href="" itemprop="url">
              <h2 itemtype="http://schema.org/Question">
                <span itemprop="name">1111키토제닉 다이어트의 어떻게 시작한건가요?</span>
              </h2>
              <div itemtype="http://schema.org/Answer">
                <p itemprop="text">
                  키토제닉 다이어트는 1920년대에 소아 뇌전증 환자 원래는 간질을 위한 치료로써 시작되었지만, 항 경련제를 사용한 치료법이
                  주로 사용됨에 따라, 기존에 쓰이던 치료법이 아닌 혈당조절 효과 를 이용해 이를 다이어트에 응용하게 된 것이 시작입니다.
                  <br class="visible-lg" /><br class="visible-lg" />
                  <span class="visible-lg">
                    이렇게 의료목적으로 시작한 키토제닉은 현재는 펠라오 및 황제 다이어트와 같이 그 효과가 탁월하여, 많은 사랑을 받는 다이어트 법이 되었습니다.
                  </span>
                </p>
              </div>
            </a>
          </li>
          <li class="dropdown" role="tab" aria-hidden="true">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
            <a href="" itemprop="url">
              <h2 itemtype="http://schema.org/Question">
                <span itemprop="name">2222부작용이 아예 없을 순 없을텐데 주요 부작용은 어떻게 되나요?</span>
              </h2>
              <div itemtype="http://schema.org/Answer">
                <p itemprop="text">
                  의사에 따라 다른 의견들이 많습니다 참고로만 읽어 주세요.
                  주로 키토플루라고 하는 몸의 적응기가 있으며, 피곤함과 무기력함 변비 및 피부 발진 등이 있을 수 있습니다. <br class="visible-lg" /><br class="visible-lg" />
                  정상인의 경우 탄수화물을 다시 섭취하시면 정상으로 돌아오나, 당뇨병, 코혈압, 모유수유 중이신 분들은 의사와의 상담 후 진행하셔야 합니다.
                </p>
              </div>
            </a>
          </li>
          <li class="dropdown" role="tab" aria-hidden="true">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
            <a href="" itemprop="url">
              <h2 itemtype="http://schema.org/Question">
                <span itemprop="name">3333다른 다이어트에 비해 좋은 점은 뭐가 있을까요?</span>
              </h2>
              <div itemtype="http://schema.org/Answer">
                <p itemprop="text">
                  의사에 따라 다른 의견들이 많습니다 참고로만 읽어 주세요.
                  집중력이 향샹되며 설탕의존도가 떨어집니다.  <br class="visible-lg" /><br class="visible-lg" />월경 불규칙도 개선되며, 여드름 및 편두통도 줄어듭니다. 신체적인 지구력이 강화됩니다.
                </p>
              </div>
            </a>
          </li>
        </ul>
        <div aria-labelledby="FaqSliderButtons" class="main_faq_control visible-lg carousel_buttons" aria-controls="MainFaqSlider">
          <span class="blind" id="FaqSliderButtons">보여지는 내용의 순서를 조절합니다.</span>
          <div>
            <button class="button01 active" aria-selected="true" aria-controls="FaqSlideritem0">
              <span class="blind">첫번째</span>
            </button>
            <button class="button02" aria-selected="false" aria-controls="FaqSlideritem1">
              <span class="blind">두번째</span>
            </button>
            <button class="button03" aria-selected="false" aria-controls="FaqSlideritem2">
              <span class="blind">세번째</span>
            </button>
          </div>
          <!--button class="prev">이전</button>
          <button class="next">다음</button-->
        </div>
      </section>
    </div>
    <div class="clearfix"></div>
    <article class="main_post_section container" itemscope itemtype="http://schema.org/BlogPosting">
      <h1 class="section_title" itemprop="alternativeHeadline">
        <strong>키토제닉 일상톡톡</strong>
        <span>다이어트 동지들과 분투기를 나눠보아요!</span>
      </h1>
      <ul class="no_margin no_padding">
        <li>
          <a href="" itemprop="url">
            <h2 class="no_margin no_padding">
              <strong itemprop="about">오늘은 너무너무 즐거운 하루였어요! 꽃송이도 너무 예쁘고 사랑스러워서 너무 좋았어요!</strong>
            </h2>
            <time itemprop="dateCreated">2017.05.31</time>
            <span itemprop="author">현주니맘</span>
          </a>
        </li>
        <li>
          <a href="" itemprop="url">
            <h2 class="no_margin no_padding">
              <strong itemprop="about">친구랑 함께 바다를 보러 다녀왔어요~</strong>
            </h2>
            <time itemprop="dateCreated">2017.05.28</time>
            <span itemprop="author">뚱뚱이아기돼지</span>
          </a>
        </li>
        <li>
          <a href="" itemprop="url">
            <h2 class="no_margin no_padding">
              <strong itemprop="about">등산을 다녀왔는데 몸이 너무 피곤하네요 역시 무릎이 너무 아파요.</strong>
            </h2>
            <time itemprop="dateCreated">2017.05.22</time>
            <span itemprop="author">맛있게먹었드래용</span>
          </a>
        </li>
      </ul>
    </article>
    <div class="clearfix"></div>
  </div>
</div>
  <% include ../partials/footer.ejs %>
</body>
</html>
