<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <div class="sub designcustom" itemscope itemtype = "http://schema.org/WebPage" role="main">
    <% include ../partials/nav.ejs %>
      <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
        <section>
          <h3>
            해당 글은 비밀글입니다.
          </h3>
          <% if(locals.is_reply == "no") { %>
            <a class="btn btn-default" href="/board/list?board_table_id=<%= board_table_id %>&page=0&page_length=10">목록으로 돌아가기</a>
          <%} else if(locals.is_reply == "yes") { %>
            <a class="btn btn-default" href="/board/list?board_table_id=<%= reply_table_id %>&page=0&page_length=10">목록으로 돌아가기</a>
          <% } %>
        </section>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>
