<!DOCTYPE html>
<html class="sub">
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
  <main itemscope itemtype = "http://schema.org/WebPage" role="main">
    <div class="sub designcustom">
      <% include ../partials/nav.ejs %>
        <div class="writed_container container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
          <section>
            <h3 class="writed_ok_info">게시물 작성을 완료했습니다.</h3>
            <% if(locals.is_reply == "no") { %>
              <a class="linebutton middle" href="/board/list?board_table_id=<%= board_table_id %>&page=0&page_length=10">목록으로 돌아가기</a>
            <%} else if(locals.is_reply == "yes") { %>
              <%if(locals.reply_table_id){%>
                <a class="linebutton middle" href="/board/list?board_table_id=<%= reply_table_id %>&page=0&page_length=10">목록으로 돌아가기</a>
              <%}%>
            <% } %>
          </section>
        </div>
      </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
