<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body itemscope = "" itemtype = "http://schema.org/WebPage">
<% include ../partials/nav.ejs %>
  <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
    <section>
      <textarea id="editor1"></textarea>
      <script>
      /*CKEDITOR.plugins.addExternal( 'uploadfile', '/js/ckeditor/myplugins/uploadfile/' );
      CKEDITOR.plugins.addExternal( 'uploadwidget', '/js/ckeditor/myplugins/uploadwidget/' );*/

      CKEDITOR.replace( 'editor1', {
        filebrowserUploadUrl: '/upload',
        extraPlugins: 'uploadwidget,uploadfile'
      } );
      </script>
    </section>
  </div>
<% include ../partials/footer.ejs %>
</body>
</html>
