<!DOCTYPE html>
<html class="sub" lang="ko">
<head>
  <link rel="stylesheet" type="text/css" href="/board/<%= css_skin %>?token='<%= locals.nowtime %>'" />
  <% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
  <main role="main">
  <div class="sub designcustom">
      <div class="container board normal">
        <% include ../partials/sub_visual.ejs %>
      </div>
    </div>
<% include ../partials/footer.ejs %>
</body>
</html>
